* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none !important; /* Usamos !important para asegurar la anulación */
}

:root { /* Variables globales para modo claro (por defecto) */
  /* Paleta de colores inspirada en Vercel */
  --color-bg-primary: #fff;           /* Blanco (Fondo Principal) */
  --color-bg-secondary: #f8f8f8;     /* Gris claro (Fondo Secundario) */
  --color-bg-tertiary: #e0e0e0;     /* Gris más claro */
  --color-text-primary: #000;           /* Negro (Texto Principal, Acentos) */
  --color-text-secondary: #666;       /* Gris oscuro (Texto Secundario) */
  --color-text-tertiary: #888;        /* Gris más claro */
  --color-border: #ccc;           /* Gris claro para bordes */
  --color-bg-light-section: #fff;   /* Blanco para secciones claras */
  --color-accent: #16a34a;   /* Verde oscuro y profesional */
  --color-accent2: #22c55e; /* Variante más clara para hover/states */
  --color-accent-rgb: 22, 163, 74; /* Para efectos con opacity */
}

/* Variables para modo oscuro (si deseas mantenerlo) */
.dark-mode {
  --color-bg-primary: #000;
  --color-bg-secondary: rgb(10,10,10);
  --color-bg-tertiary: #2f2f2f;
  --color-text-primary: rgb(234,237,237);
  --color-text-secondary: rgb(161,161,161);
  --color-text-tertiary: #4f4f4f;
  --color-border: rgb(36,36,36);            /* Gris claro para bordes */
  --color-bg-light-section: #1c1c1c; /* Un tono oscuro para secciones claras en modo oscuro */
  --color-accent: #4ade80;   /* Verde brillante para mejor legibilidad en oscuro */
  --color-accent2: #86efac; /* Variante más suave */
  --color-accent-rgb: 74, 222, 128;
}

body {

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}

.content {
  margin-top: 80px;
  /* o lo que mida tu navbar */
}
